/**
Overload Bootstrap
**//*
@media (min-width: 992px) and (max-width:1280){
    .container {
        width: 960px !important;
        max-width: 100% !important;
    }
}
@media (min-width: 1280px){
    .container {
        width: 1140px;
        max-width: 100%;
    }
}*/